MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123
POSTGRES_USER=bertsonal
POSTGRES_PASSWORD=bertsonal_pw
POSTGRES_DB=bertsonal
MB_POSTGRES_USER=metabase
MB_POSTGRES_PASSWORD=metabase_pw
MB_POSTGRES_DB=metabase
HOST_VOLUMES_ROOT=K:/MASTER_BIG_DATA/TFM/VOLUMES
