# Flutter/Dart/Pub related
.dart_tool/
.packages
build/

# IDE
.idea/
.vscode/
*.iml

# Android
**/android/.gradle/
**/android/local.properties

# iOS
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec

# macOS
**/macos/Pods/
**/macos/Flutter/ephemeral/

# Windows
**/windows/flutter/ephemeral/

# Linux
**/linux/flutter/ephemeral/
